@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gudea', sans-serif;
    font-size: 30px;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.144);
    position: fixed; 
    top: 0;
}

.right{
    display: flex;
    margin-right: 20px;
    font-size: 15px;
}


a{
    padding-left: 15px;
    padding-right: 5px;
    color: black;
    text-decoration: none;
}

.card-conteiner{
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    box-shadow: 4px 4px 2px rgba(77, 77, 77, 0.098);
    margin: 20px;
    margin: 30px;
    padding: 20px;
    
}

.publi-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#title-card{
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis
}

#author-card{
    padding-top: 10px;
    font-size: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

